// Add predefined macros for your project here. For example:
// #define THE_ANSWER 42

// CPPFLAGS = -fno-exceptions -fno-rtti -nostdinc++ -DAARCH=32 -mcpu=arm1176jzf-s -marm -mfpu=vfp -mfloat-abi=hard -Wall -fsigned-char -ffreestanding -D__circle__ -DRASPPI=1 -DSTDLIB_SUPPORT=1 -D__VCCOREVER__=0x04000000 -U__unix__ -U__linux__  -I ../include -I ../addon -I ../app/lib -I ../addon/vc4 -I ../addon/vc4/interface/khronos/include -O2 -g -std=c++14 -Wno-aligned-new

#define __circle__
#define DAARCH 32
#define __VCCOREVER__ 0x04000000
#define RASPPI 1
#define STDLIB_SUPPORT 1

#undef __unix__
#undef __linux__

#define EGL_SERVER_DISPMANX 1

// for imgui
#define IMGUI_IMPL_OPENGL_ES2 1

// remove this one! Use __circle__ instead!
#define RPI 1
